body{
  background-color: #092B40
}

.input-group {
    margin-left: 37em;
    margin-top: 4em;
}
#random{
  margin-left: 39em;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  color: orange;
}
#random a{
  text-decoration: none;
  color: inherit;
  
  
}
#result{
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Courgette"
}
#result a {
  text-decoration: none;
  color: inherit;
  }

#text {
  padding: 15px 30px 5px 30px;
  margin-top: 20px;
  background-color: white;
  color: black;
  
}
#text:hover{
  border-left: 10px solid orange;
  margin-left: -10px;
}


